body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background: url('/static/img/editar.webp') no-repeat center center;
  background-size: cover;
  color: #000;
}

.header {
  background-color: #b74141;
  padding: 0.5rem 0;
  text-align: center;
  color: white;
}

.barra-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a2c682;
  padding: 0.5rem 1rem;
}

.barra-superior a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 1.1rem;
}

.titulo {
  margin: 0;
  font-size: 2rem;
  flex-grow: 1;
  text-align: center;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.formulario {
  background-color: rgba(50, 50, 50, 0.8);
  padding: 2rem;
  border-radius: 10px;
  width: 350px;
  color: white;
}

.formulario h2 {
  text-align: center;
}

form label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: none;
  border-radius: 5px;
  font-family: 'Orbitron', sans-serif;
}

button {
  margin-top: 1.5rem;
  width: 100%;
  background-color: #b74141;
  color: #55f455;
  font-weight: bold;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #8d2f2f;
}
