<h2>Activar doble autenticación</h2>

<p>Escanea este código QR con Google Authenticator:</p>
<img src="data:image/png;base64,{{ qr_base64 }}" alt="Código QR"><br><br>

<form method="post">
  {% csrf_token %}
  <label for="codigo_otp">Ingresa el código de 6 dígitos perro wilson :</label>
  <input type="text" name="codigo_otp" required>
  <button type="submit">Verificar</button>
  
</form>

{% if messages %}
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
{% endif %}
