<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Stock Mania</title>
  <link rel="stylesheet" href="/static/css/principal.css" />
</head>

<body>
  {% include "usuarios/header.html" %}
  <header class="hero">
    <div class="overlay">
      <h1 class="title">Stock Mania</h1>
      <p class="subtitle">Lo mejor para tu tienda</p>
    </div>
  </header>

  <section class="info">
    <p>
      Controla el stock de tu almacén de forma fácil y confiable con Stock
      Mania.
    </p>
  </section>
</body>

</html>