{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Verificación 2FA</title>
    <link rel="stylesheet" href="{% static 'css/verificar.css' %}">
</head>
<body>
  <div class="background"></div>

  <div class="auth-container">
    <div class="auth-box">
      <h2>Verificar código de autenticación</h2>
      <form method="post">
        {% csrf_token %}
        <label for="otp">Código:</label>
        <input type="text" name="otp" placeholder="codigo" required>
        <button type="submit">verificar</button>
      </form>

      {% if messages %}
        <div class="messages">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}

      {% if qr_base64 %}
        <h3>Escanea este código QR en Google Authenticator:</h3>
        <img src="data:image/png;base64,{{ qr_base64 }}" alt="Código QR">
      {% endif %}
    </div>
  </div>
</body>
</html>
